name: CI

on:
  push:
    branches:
      - master

jobs:
  summary:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
    - name: npm install, summary, and push
      run: |
        npm install
        npm run summary
        git add --all
        git config user.email "16092751+nao5151@users.noreply.github.com" && git config user.name "CI"
        git commit -m "update summary"
        git push origin master